.card {
    width: 18rem;
    flex: 0 1 24%;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;

}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;


}
