.label{
    color: black;
    font-size:20px;
}

p{
    margin-left: 10px;
}

img {
    float: left;
}

.list-group-item
{
    background-color: rgba(221, 221, 29, 0.808);
    border:solid white 1px;
    margin-bottom: 10px;
}

button{
    border: 1px solid black;
    border-radius:40px;
    background-color:white;
    margin-left: 10px;
    text-align: center;
}

.btno{
    border: 1px solid transparent;
    background-color:transparent;
}
